{% extends "juche/juche_base.html" %}
{% load static %}
{% block body_block %}

    <form>
    <h2>Política Songun</h2>

        <p>Defesa em Primeiro Lugar:</p>

        <ul>
            <li>Política: semelhante ao Zuche (nacionalismo e fortalecimento do país).</li><br>
            <li>Economia: grandes investimentos nas forças armadas e setor militar.</li><br>
            <li>Defesa: desenvolvimento da bomba atômica e mísseis de longo alcançe.</li><br>
            <li>Ideologia: o exército popular é a principal força da revolução e garante a sobrevivência e consolidação do socialismo.</li><br>
        </ul>

    </form>

{% endblock %}

