{% extends "juche/juche_base.html" %}
{% load static %}
{% block body_block %}

    <form>
    <h2>Ideologia Zuche</h2>

        <p>Autossuficiência e Independência:</p>

        <ul>
            <li>Política: colocar os interesses nacionais norte-coreanos acima das potências aliadas.</li><br>
            <li>Economia: desenvolvimento autárquico para redução das influências externas.</li><br>
            <li>Defesa: legitimação do desenvolvimento da tecnologia nuclear.</li><br>
            <li>Ideologia: criação de uma consciência nacional e condicionamento das ações sociais e do estado.</li><br>
        </ul>

    </form>

{% endblock %}

